/* Transitions and animations only change variables stepwise.
 * You also cannot multiply or divide a unit (like px or %)
 * by another unit- not even the same one.
 */


/* An animation that counts the integers 0-10 in `--i` */
@keyframes count10 {
    0% { --i:  0; }
   10% { --i:  1; }
   20% { --i:  2; }
   30% { --i:  3; }
   40% { --i:  4; }
   50% { --i:  5; }
   60% { --i:  6; }
   70% { --i:  7; }
   80% { --i:  8; }
   90% { --i:  9; }
  100% { --i: 10; }
}

/* 26 binary state animations- one for each letter in the alphabet */
@keyframes bin-a { from { --bin-a: 0; } to { --bin-a: 1; } }
@keyframes bin-b { from { --bin-b: 0; } to { --bin-b: 1; } }
@keyframes bin-c { from { --bin-c: 0; } to { --bin-c: 1; } }
@keyframes bin-d { from { --bin-d: 0; } to { --bin-d: 1; } }
@keyframes bin-e { from { --bin-e: 0; } to { --bin-e: 1; } }
@keyframes bin-f { from { --bin-f: 0; } to { --bin-f: 1; } }
@keyframes bin-g { from { --bin-g: 0; } to { --bin-g: 1; } }
@keyframes bin-h { from { --bin-h: 0; } to { --bin-h: 1; } }
@keyframes bin-i { from { --bin-i: 0; } to { --bin-i: 1; } }
@keyframes bin-j { from { --bin-j: 0; } to { --bin-j: 1; } }
@keyframes bin-k { from { --bin-k: 0; } to { --bin-k: 1; } }
@keyframes bin-l { from { --bin-l: 0; } to { --bin-l: 1; } }
@keyframes bin-m { from { --bin-m: 0; } to { --bin-m: 1; } }
@keyframes bin-n { from { --bin-n: 0; } to { --bin-n: 1; } }
@keyframes bin-o { from { --bin-o: 0; } to { --bin-o: 1; } }
@keyframes bin-p { from { --bin-p: 0; } to { --bin-p: 1; } }
@keyframes bin-q { from { --bin-q: 0; } to { --bin-q: 1; } }
@keyframes bin-r { from { --bin-r: 0; } to { --bin-r: 1; } }
@keyframes bin-s { from { --bin-s: 0; } to { --bin-s: 1; } }
@keyframes bin-t { from { --bin-t: 0; } to { --bin-t: 1; } }
@keyframes bin-u { from { --bin-u: 0; } to { --bin-u: 1; } }
@keyframes bin-v { from { --bin-v: 0; } to { --bin-v: 1; } }
@keyframes bin-w { from { --bin-w: 0; } to { --bin-w: 1; } }
@keyframes bin-x { from { --bin-x: 0; } to { --bin-x: 1; } }
@keyframes bin-y { from { --bin-y: 0; } to { --bin-y: 1; } }
@keyframes bin-z { from { --bin-z: 0; } to { --bin-z: 1; } }


/* A 6-bit counter. r64 - it has a resolution of 64
 * if I use this clock for an animation it can have a
 * total of 64 different states */
.pow2.r64 {
  --bin-a: 0; --bin-b: 0; --bin-c: 0;
  --bin-d: 0; --bin-e: 0; --bin-f: 0;

  animation: bin-a calc(var(--bin-speed)/var(--pow0)*1s) linear infinite
           , bin-b calc(var(--bin-speed)/var(--pow1)*1s) linear infinite
           , bin-c calc(var(--bin-speed)/var(--pow2)*1s) linear infinite
           , bin-d calc(var(--bin-speed)/var(--pow3)*1s) linear infinite
           , bin-e calc(var(--bin-speed)/var(--pow4)*1s) linear infinite
           , bin-f calc(var(--bin-speed)/var(--pow5)*1s) linear infinite
           ;

  --BIN1: var(--bin-f);
  --BIN2: calc(var(--bin-e) * var(--pow1) + var(--BIN1));
  --BIN3: calc(var(--bin-d) * var(--pow2) + var(--BIN2));
  --BIN4: calc(var(--bin-c) * var(--pow3) + var(--BIN3));
  --BIN5: calc(var(--bin-b) * var(--pow4) + var(--BIN4));
  --BIN6: calc(var(--bin-a) * var(--pow5) + var(--BIN5));

  --bin0: calc(var(--BIN6) / var(--pow6));
  --bin1: calc(var(--BIN5) / var(--pow5));
  --bin2: calc(var(--BIN4) / var(--pow4));
  --bin3: calc(var(--BIN3) / var(--pow3));
  --bin4: calc(var(--BIN2) / var(--pow2));
  --bin5: calc(var(--BIN1) / var(--pow1));

  --bin-res: var(--pow6);
}

/* A 10 bit counter */
.pow2.r1024 {
  --bin-a: 0; --bin-b: 0; --bin-c: 0; --bin-d: 0; --bin-e: 0;
  --bin-f: 0; --bin-g: 0; --bin-h: 0; --bin-i: 0; --bin-j: 0;

  animation: bin-a calc(var(--bin-speed)/var(--pow0)*1s) linear infinite
           , bin-b calc(var(--bin-speed)/var(--pow1)*1s) linear infinite
           , bin-c calc(var(--bin-speed)/var(--pow2)*1s) linear infinite
           , bin-d calc(var(--bin-speed)/var(--pow3)*1s) linear infinite
           , bin-e calc(var(--bin-speed)/var(--pow4)*1s) linear infinite
           , bin-f calc(var(--bin-speed)/var(--pow5)*1s) linear infinite
           , bin-g calc(var(--bin-speed)/var(--pow6)*1s) linear infinite
           , bin-h calc(var(--bin-speed)/var(--pow7)*1s) linear infinite
           , bin-i calc(var(--bin-speed)/var(--pow8)*1s) linear infinite
           , bin-j calc(var(--bin-speed)/var(--pow9)*1s) linear infinite
           ;

  --BIN1:       var(--bin-j);
  --BIN2:  calc(var(--bin-i) * var(--pow1) + var(--BIN1));
  --BIN3:  calc(var(--bin-h) * var(--pow2) + var(--BIN2));
  --BIN4:  calc(var(--bin-g) * var(--pow3) + var(--BIN3));
  --BIN5:  calc(var(--bin-f) * var(--pow4) + var(--BIN4));
  --BIN6:  calc(var(--bin-e) * var(--pow5) + var(--BIN5));
  --BIN7:  calc(var(--bin-d) * var(--pow6) + var(--BIN6));
  --BIN8:  calc(var(--bin-c) * var(--pow7) + var(--BIN7));
  --BIN9:  calc(var(--bin-b) * var(--pow8) + var(--BIN8));
  --BIN10: calc(var(--bin-a) * var(--pow9) + var(--BIN9));

  --bin0: calc(var(--BIN10) / var(--pow10));
  --bin1: calc(var(--BIN9)  / var(--pow9));
  --bin2: calc(var(--BIN8)  / var(--pow8));
  --bin3: calc(var(--BIN7)  / var(--pow7));
  --bin4: calc(var(--BIN6)  / var(--pow6));
  --bin5: calc(var(--BIN5)  / var(--pow5));
  --bin6: calc(var(--BIN4)  / var(--pow4));
  --bin7: calc(var(--BIN3)  / var(--pow3));
  --bin8: calc(var(--BIN2)  / var(--pow2));
  --bin9: calc(var(--BIN1)  / var(--pow1));

  --bin-res: var(--pow10);
}


/* Unfortunatly this is significantly faster than the binary.. */
.r1000 {
  --bin-res: 1000;
  --ix: 130;
  --bin-a: 0;
  --bin-b: 0;

  animation: count1000 calc(var(--bin-speed)*1s) linear infinite
           , bin-a     calc(var(--bin-speed)*1s) linear infinite
           , bin-b     calc(var(--bin-speed)/2*1s) linear infinite
           ;

  --bin0: calc(var(--ix)/1000);
  --bin1: calc(var(--bin0)*2 - var(--bin-a));
  --bin2: calc(var(--bin0)*4 - var(--bin-a)*2 - var(--bin-b));
}


@keyframes count1000 {
  0.0%   { --ix: 0; }
  0.1%   { --ix: 1; }
  0.2%   { --ix: 2; }
  0.3%   { --ix: 3; }
  0.4%   { --ix: 4; }
  0.5%   { --ix: 5; }
  0.6%   { --ix: 6; }
  0.7%   { --ix: 7; }
  0.8%   { --ix: 8; }
  0.9%   { --ix: 9; }
  1.0%   { --ix: 10; }
  1.1%   { --ix: 11; }
  1.2%   { --ix: 12; }
  1.3%   { --ix: 13; }
  1.4%   { --ix: 14; }
  1.5%   { --ix: 15; }
  1.6%   { --ix: 16; }
  1.7%   { --ix: 17; }
  1.8%   { --ix: 18; }
  1.9%   { --ix: 19; }
  2.0%   { --ix: 20; }
  2.1%   { --ix: 21; }
  2.2%   { --ix: 22; }
  2.3%   { --ix: 23; }
  2.4%   { --ix: 24; }
  2.5%   { --ix: 25; }
  2.6%   { --ix: 26; }
  2.7%   { --ix: 27; }
  2.8%   { --ix: 28; }
  2.9%   { --ix: 29; }
  3.0%   { --ix: 30; }
  3.1%   { --ix: 31; }
  3.2%   { --ix: 32; }
  3.3%   { --ix: 33; }
  3.4%   { --ix: 34; }
  3.5%   { --ix: 35; }
  3.6%   { --ix: 36; }
  3.7%   { --ix: 37; }
  3.8%   { --ix: 38; }
  3.9%   { --ix: 39; }
  4.0%   { --ix: 40; }
  4.1%   { --ix: 41; }
  4.2%   { --ix: 42; }
  4.3%   { --ix: 43; }
  4.4%   { --ix: 44; }
  4.5%   { --ix: 45; }
  4.6%   { --ix: 46; }
  4.7%   { --ix: 47; }
  4.8%   { --ix: 48; }
  4.9%   { --ix: 49; }
  5.0%   { --ix: 50; }
  5.1%   { --ix: 51; }
  5.2%   { --ix: 52; }
  5.3%   { --ix: 53; }
  5.4%   { --ix: 54; }
  5.5%   { --ix: 55; }
  5.6%   { --ix: 56; }
  5.7%   { --ix: 57; }
  5.8%   { --ix: 58; }
  5.9%   { --ix: 59; }
  6.0%   { --ix: 60; }
  6.1%   { --ix: 61; }
  6.2%   { --ix: 62; }
  6.3%   { --ix: 63; }
  6.4%   { --ix: 64; }
  6.5%   { --ix: 65; }
  6.6%   { --ix: 66; }
  6.7%   { --ix: 67; }
  6.8%   { --ix: 68; }
  6.9%   { --ix: 69; }
  7.0%   { --ix: 70; }
  7.1%   { --ix: 71; }
  7.2%   { --ix: 72; }
  7.3%   { --ix: 73; }
  7.4%   { --ix: 74; }
  7.5%   { --ix: 75; }
  7.6%   { --ix: 76; }
  7.7%   { --ix: 77; }
  7.8%   { --ix: 78; }
  7.9%   { --ix: 79; }
  8.0%   { --ix: 80; }
  8.1%   { --ix: 81; }
  8.2%   { --ix: 82; }
  8.3%   { --ix: 83; }
  8.4%   { --ix: 84; }
  8.5%   { --ix: 85; }
  8.6%   { --ix: 86; }
  8.7%   { --ix: 87; }
  8.8%   { --ix: 88; }
  8.9%   { --ix: 89; }
  9.0%   { --ix: 90; }
  9.1%   { --ix: 91; }
  9.2%   { --ix: 92; }
  9.3%   { --ix: 93; }
  9.4%   { --ix: 94; }
  9.5%   { --ix: 95; }
  9.6%   { --ix: 96; }
  9.7%   { --ix: 97; }
  9.8%   { --ix: 98; }
  9.9%   { --ix: 99; }
  10.0%  { --ix: 100; }
  10.1%  { --ix: 101; }
  10.2%  { --ix: 102; }
  10.3%  { --ix: 103; }
  10.4%  { --ix: 104; }
  10.5%  { --ix: 105; }
  10.6%  { --ix: 106; }
  10.7%  { --ix: 107; }
  10.8%  { --ix: 108; }
  10.9%  { --ix: 109; }
  11.0%  { --ix: 110; }
  11.1%  { --ix: 111; }
  11.2%  { --ix: 112; }
  11.3%  { --ix: 113; }
  11.4%  { --ix: 114; }
  11.5%  { --ix: 115; }
  11.6%  { --ix: 116; }
  11.7%  { --ix: 117; }
  11.8%  { --ix: 118; }
  11.9%  { --ix: 119; }
  12.0%  { --ix: 120; }
  12.1%  { --ix: 121; }
  12.2%  { --ix: 122; }
  12.3%  { --ix: 123; }
  12.4%  { --ix: 124; }
  12.5%  { --ix: 125; }
  12.6%  { --ix: 126; }
  12.7%  { --ix: 127; }
  12.8%  { --ix: 128; }
  12.9%  { --ix: 129; }
  13.0%  { --ix: 130; }
  13.1%  { --ix: 131; }
  13.2%  { --ix: 132; }
  13.3%  { --ix: 133; }
  13.4%  { --ix: 134; }
  13.5%  { --ix: 135; }
  13.6%  { --ix: 136; }
  13.7%  { --ix: 137; }
  13.8%  { --ix: 138; }
  13.9%  { --ix: 139; }
  14.0%  { --ix: 140; }
  14.1%  { --ix: 141; }
  14.2%  { --ix: 142; }
  14.3%  { --ix: 143; }
  14.4%  { --ix: 144; }
  14.5%  { --ix: 145; }
  14.6%  { --ix: 146; }
  14.7%  { --ix: 147; }
  14.8%  { --ix: 148; }
  14.9%  { --ix: 149; }
  15.0%  { --ix: 150; }
  15.1%  { --ix: 151; }
  15.2%  { --ix: 152; }
  15.3%  { --ix: 153; }
  15.4%  { --ix: 154; }
  15.5%  { --ix: 155; }
  15.6%  { --ix: 156; }
  15.7%  { --ix: 157; }
  15.8%  { --ix: 158; }
  15.9%  { --ix: 159; }
  16.0%  { --ix: 160; }
  16.1%  { --ix: 161; }
  16.2%  { --ix: 162; }
  16.3%  { --ix: 163; }
  16.4%  { --ix: 164; }
  16.5%  { --ix: 165; }
  16.6%  { --ix: 166; }
  16.7%  { --ix: 167; }
  16.8%  { --ix: 168; }
  16.9%  { --ix: 169; }
  17.0%  { --ix: 170; }
  17.1%  { --ix: 171; }
  17.2%  { --ix: 172; }
  17.3%  { --ix: 173; }
  17.4%  { --ix: 174; }
  17.5%  { --ix: 175; }
  17.6%  { --ix: 176; }
  17.7%  { --ix: 177; }
  17.8%  { --ix: 178; }
  17.9%  { --ix: 179; }
  18.0%  { --ix: 180; }
  18.1%  { --ix: 181; }
  18.2%  { --ix: 182; }
  18.3%  { --ix: 183; }
  18.4%  { --ix: 184; }
  18.5%  { --ix: 185; }
  18.6%  { --ix: 186; }
  18.7%  { --ix: 187; }
  18.8%  { --ix: 188; }
  18.9%  { --ix: 189; }
  19.0%  { --ix: 190; }
  19.1%  { --ix: 191; }
  19.2%  { --ix: 192; }
  19.3%  { --ix: 193; }
  19.4%  { --ix: 194; }
  19.5%  { --ix: 195; }
  19.6%  { --ix: 196; }
  19.7%  { --ix: 197; }
  19.8%  { --ix: 198; }
  19.9%  { --ix: 199; }
  20.0%  { --ix: 200; }
  20.1%  { --ix: 201; }
  20.2%  { --ix: 202; }
  20.3%  { --ix: 203; }
  20.4%  { --ix: 204; }
  20.5%  { --ix: 205; }
  20.6%  { --ix: 206; }
  20.7%  { --ix: 207; }
  20.8%  { --ix: 208; }
  20.9%  { --ix: 209; }
  21.0%  { --ix: 210; }
  21.1%  { --ix: 211; }
  21.2%  { --ix: 212; }
  21.3%  { --ix: 213; }
  21.4%  { --ix: 214; }
  21.5%  { --ix: 215; }
  21.6%  { --ix: 216; }
  21.7%  { --ix: 217; }
  21.8%  { --ix: 218; }
  21.9%  { --ix: 219; }
  22.0%  { --ix: 220; }
  22.1%  { --ix: 221; }
  22.2%  { --ix: 222; }
  22.3%  { --ix: 223; }
  22.4%  { --ix: 224; }
  22.5%  { --ix: 225; }
  22.6%  { --ix: 226; }
  22.7%  { --ix: 227; }
  22.8%  { --ix: 228; }
  22.9%  { --ix: 229; }
  23.0%  { --ix: 230; }
  23.1%  { --ix: 231; }
  23.2%  { --ix: 232; }
  23.3%  { --ix: 233; }
  23.4%  { --ix: 234; }
  23.5%  { --ix: 235; }
  23.6%  { --ix: 236; }
  23.7%  { --ix: 237; }
  23.8%  { --ix: 238; }
  23.9%  { --ix: 239; }
  24.0%  { --ix: 240; }
  24.1%  { --ix: 241; }
  24.2%  { --ix: 242; }
  24.3%  { --ix: 243; }
  24.4%  { --ix: 244; }
  24.5%  { --ix: 245; }
  24.6%  { --ix: 246; }
  24.7%  { --ix: 247; }
  24.8%  { --ix: 248; }
  24.9%  { --ix: 249; }
  25.0%  { --ix: 250; }
  25.1%  { --ix: 251; }
  25.2%  { --ix: 252; }
  25.3%  { --ix: 253; }
  25.4%  { --ix: 254; }
  25.5%  { --ix: 255; }
  25.6%  { --ix: 256; }
  25.7%  { --ix: 257; }
  25.8%  { --ix: 258; }
  25.9%  { --ix: 259; }
  26.0%  { --ix: 260; }
  26.1%  { --ix: 261; }
  26.2%  { --ix: 262; }
  26.3%  { --ix: 263; }
  26.4%  { --ix: 264; }
  26.5%  { --ix: 265; }
  26.6%  { --ix: 266; }
  26.7%  { --ix: 267; }
  26.8%  { --ix: 268; }
  26.9%  { --ix: 269; }
  27.0%  { --ix: 270; }
  27.1%  { --ix: 271; }
  27.2%  { --ix: 272; }
  27.3%  { --ix: 273; }
  27.4%  { --ix: 274; }
  27.5%  { --ix: 275; }
  27.6%  { --ix: 276; }
  27.7%  { --ix: 277; }
  27.8%  { --ix: 278; }
  27.9%  { --ix: 279; }
  28.0%  { --ix: 280; }
  28.1%  { --ix: 281; }
  28.2%  { --ix: 282; }
  28.3%  { --ix: 283; }
  28.4%  { --ix: 284; }
  28.5%  { --ix: 285; }
  28.6%  { --ix: 286; }
  28.7%  { --ix: 287; }
  28.8%  { --ix: 288; }
  28.9%  { --ix: 289; }
  29.0%  { --ix: 290; }
  29.1%  { --ix: 291; }
  29.2%  { --ix: 292; }
  29.3%  { --ix: 293; }
  29.4%  { --ix: 294; }
  29.5%  { --ix: 295; }
  29.6%  { --ix: 296; }
  29.7%  { --ix: 297; }
  29.8%  { --ix: 298; }
  29.9%  { --ix: 299; }
  30.0%  { --ix: 300; }
  30.1%  { --ix: 301; }
  30.2%  { --ix: 302; }
  30.3%  { --ix: 303; }
  30.4%  { --ix: 304; }
  30.5%  { --ix: 305; }
  30.6%  { --ix: 306; }
  30.7%  { --ix: 307; }
  30.8%  { --ix: 308; }
  30.9%  { --ix: 309; }
  31.0%  { --ix: 310; }
  31.1%  { --ix: 311; }
  31.2%  { --ix: 312; }
  31.3%  { --ix: 313; }
  31.4%  { --ix: 314; }
  31.5%  { --ix: 315; }
  31.6%  { --ix: 316; }
  31.7%  { --ix: 317; }
  31.8%  { --ix: 318; }
  31.9%  { --ix: 319; }
  32.0%  { --ix: 320; }
  32.1%  { --ix: 321; }
  32.2%  { --ix: 322; }
  32.3%  { --ix: 323; }
  32.4%  { --ix: 324; }
  32.5%  { --ix: 325; }
  32.6%  { --ix: 326; }
  32.7%  { --ix: 327; }
  32.8%  { --ix: 328; }
  32.9%  { --ix: 329; }
  33.0%  { --ix: 330; }
  33.1%  { --ix: 331; }
  33.2%  { --ix: 332; }
  33.3%  { --ix: 333; }
  33.4%  { --ix: 334; }
  33.5%  { --ix: 335; }
  33.6%  { --ix: 336; }
  33.7%  { --ix: 337; }
  33.8%  { --ix: 338; }
  33.9%  { --ix: 339; }
  34.0%  { --ix: 340; }
  34.1%  { --ix: 341; }
  34.2%  { --ix: 342; }
  34.3%  { --ix: 343; }
  34.4%  { --ix: 344; }
  34.5%  { --ix: 345; }
  34.6%  { --ix: 346; }
  34.7%  { --ix: 347; }
  34.8%  { --ix: 348; }
  34.9%  { --ix: 349; }
  35.0%  { --ix: 350; }
  35.1%  { --ix: 351; }
  35.2%  { --ix: 352; }
  35.3%  { --ix: 353; }
  35.4%  { --ix: 354; }
  35.5%  { --ix: 355; }
  35.6%  { --ix: 356; }
  35.7%  { --ix: 357; }
  35.8%  { --ix: 358; }
  35.9%  { --ix: 359; }
  36.0%  { --ix: 360; }
  36.1%  { --ix: 361; }
  36.2%  { --ix: 362; }
  36.3%  { --ix: 363; }
  36.4%  { --ix: 364; }
  36.5%  { --ix: 365; }
  36.6%  { --ix: 366; }
  36.7%  { --ix: 367; }
  36.8%  { --ix: 368; }
  36.9%  { --ix: 369; }
  37.0%  { --ix: 370; }
  37.1%  { --ix: 371; }
  37.2%  { --ix: 372; }
  37.3%  { --ix: 373; }
  37.4%  { --ix: 374; }
  37.5%  { --ix: 375; }
  37.6%  { --ix: 376; }
  37.7%  { --ix: 377; }
  37.8%  { --ix: 378; }
  37.9%  { --ix: 379; }
  38.0%  { --ix: 380; }
  38.1%  { --ix: 381; }
  38.2%  { --ix: 382; }
  38.3%  { --ix: 383; }
  38.4%  { --ix: 384; }
  38.5%  { --ix: 385; }
  38.6%  { --ix: 386; }
  38.7%  { --ix: 387; }
  38.8%  { --ix: 388; }
  38.9%  { --ix: 389; }
  39.0%  { --ix: 390; }
  39.1%  { --ix: 391; }
  39.2%  { --ix: 392; }
  39.3%  { --ix: 393; }
  39.4%  { --ix: 394; }
  39.5%  { --ix: 395; }
  39.6%  { --ix: 396; }
  39.7%  { --ix: 397; }
  39.8%  { --ix: 398; }
  39.9%  { --ix: 399; }
  40.0%  { --ix: 400; }
  40.1%  { --ix: 401; }
  40.2%  { --ix: 402; }
  40.3%  { --ix: 403; }
  40.4%  { --ix: 404; }
  40.5%  { --ix: 405; }
  40.6%  { --ix: 406; }
  40.7%  { --ix: 407; }
  40.8%  { --ix: 408; }
  40.9%  { --ix: 409; }
  41.0%  { --ix: 410; }
  41.1%  { --ix: 411; }
  41.2%  { --ix: 412; }
  41.3%  { --ix: 413; }
  41.4%  { --ix: 414; }
  41.5%  { --ix: 415; }
  41.6%  { --ix: 416; }
  41.7%  { --ix: 417; }
  41.8%  { --ix: 418; }
  41.9%  { --ix: 419; }
  42.0%  { --ix: 420; }
  42.1%  { --ix: 421; }
  42.2%  { --ix: 422; }
  42.3%  { --ix: 423; }
  42.4%  { --ix: 424; }
  42.5%  { --ix: 425; }
  42.6%  { --ix: 426; }
  42.7%  { --ix: 427; }
  42.8%  { --ix: 428; }
  42.9%  { --ix: 429; }
  43.0%  { --ix: 430; }
  43.1%  { --ix: 431; }
  43.2%  { --ix: 432; }
  43.3%  { --ix: 433; }
  43.4%  { --ix: 434; }
  43.5%  { --ix: 435; }
  43.6%  { --ix: 436; }
  43.7%  { --ix: 437; }
  43.8%  { --ix: 438; }
  43.9%  { --ix: 439; }
  44.0%  { --ix: 440; }
  44.1%  { --ix: 441; }
  44.2%  { --ix: 442; }
  44.3%  { --ix: 443; }
  44.4%  { --ix: 444; }
  44.5%  { --ix: 445; }
  44.6%  { --ix: 446; }
  44.7%  { --ix: 447; }
  44.8%  { --ix: 448; }
  44.9%  { --ix: 449; }
  45.0%  { --ix: 450; }
  45.1%  { --ix: 451; }
  45.2%  { --ix: 452; }
  45.3%  { --ix: 453; }
  45.4%  { --ix: 454; }
  45.5%  { --ix: 455; }
  45.6%  { --ix: 456; }
  45.7%  { --ix: 457; }
  45.8%  { --ix: 458; }
  45.9%  { --ix: 459; }
  46.0%  { --ix: 460; }
  46.1%  { --ix: 461; }
  46.2%  { --ix: 462; }
  46.3%  { --ix: 463; }
  46.4%  { --ix: 464; }
  46.5%  { --ix: 465; }
  46.6%  { --ix: 466; }
  46.7%  { --ix: 467; }
  46.8%  { --ix: 468; }
  46.9%  { --ix: 469; }
  47.0%  { --ix: 470; }
  47.1%  { --ix: 471; }
  47.2%  { --ix: 472; }
  47.3%  { --ix: 473; }
  47.4%  { --ix: 474; }
  47.5%  { --ix: 475; }
  47.6%  { --ix: 476; }
  47.7%  { --ix: 477; }
  47.8%  { --ix: 478; }
  47.9%  { --ix: 479; }
  48.0%  { --ix: 480; }
  48.1%  { --ix: 481; }
  48.2%  { --ix: 482; }
  48.3%  { --ix: 483; }
  48.4%  { --ix: 484; }
  48.5%  { --ix: 485; }
  48.6%  { --ix: 486; }
  48.7%  { --ix: 487; }
  48.8%  { --ix: 488; }
  48.9%  { --ix: 489; }
  49.0%  { --ix: 490; }
  49.1%  { --ix: 491; }
  49.2%  { --ix: 492; }
  49.3%  { --ix: 493; }
  49.4%  { --ix: 494; }
  49.5%  { --ix: 495; }
  49.6%  { --ix: 496; }
  49.7%  { --ix: 497; }
  49.8%  { --ix: 498; }
  49.9%  { --ix: 499; }
  50.0%  { --ix: 500; }
  50.1%  { --ix: 501; }
  50.2%  { --ix: 502; }
  50.3%  { --ix: 503; }
  50.4%  { --ix: 504; }
  50.5%  { --ix: 505; }
  50.6%  { --ix: 506; }
  50.7%  { --ix: 507; }
  50.8%  { --ix: 508; }
  50.9%  { --ix: 509; }
  51.0%  { --ix: 510; }
  51.1%  { --ix: 511; }
  51.2%  { --ix: 512; }
  51.3%  { --ix: 513; }
  51.4%  { --ix: 514; }
  51.5%  { --ix: 515; }
  51.6%  { --ix: 516; }
  51.7%  { --ix: 517; }
  51.8%  { --ix: 518; }
  51.9%  { --ix: 519; }
  52.0%  { --ix: 520; }
  52.1%  { --ix: 521; }
  52.2%  { --ix: 522; }
  52.3%  { --ix: 523; }
  52.4%  { --ix: 524; }
  52.5%  { --ix: 525; }
  52.6%  { --ix: 526; }
  52.7%  { --ix: 527; }
  52.8%  { --ix: 528; }
  52.9%  { --ix: 529; }
  53.0%  { --ix: 530; }
  53.1%  { --ix: 531; }
  53.2%  { --ix: 532; }
  53.3%  { --ix: 533; }
  53.4%  { --ix: 534; }
  53.5%  { --ix: 535; }
  53.6%  { --ix: 536; }
  53.7%  { --ix: 537; }
  53.8%  { --ix: 538; }
  53.9%  { --ix: 539; }
  54.0%  { --ix: 540; }
  54.1%  { --ix: 541; }
  54.2%  { --ix: 542; }
  54.3%  { --ix: 543; }
  54.4%  { --ix: 544; }
  54.5%  { --ix: 545; }
  54.6%  { --ix: 546; }
  54.7%  { --ix: 547; }
  54.8%  { --ix: 548; }
  54.9%  { --ix: 549; }
  55.0%  { --ix: 550; }
  55.1%  { --ix: 551; }
  55.2%  { --ix: 552; }
  55.3%  { --ix: 553; }
  55.4%  { --ix: 554; }
  55.5%  { --ix: 555; }
  55.6%  { --ix: 556; }
  55.7%  { --ix: 557; }
  55.8%  { --ix: 558; }
  55.9%  { --ix: 559; }
  56.0%  { --ix: 560; }
  56.1%  { --ix: 561; }
  56.2%  { --ix: 562; }
  56.3%  { --ix: 563; }
  56.4%  { --ix: 564; }
  56.5%  { --ix: 565; }
  56.6%  { --ix: 566; }
  56.7%  { --ix: 567; }
  56.8%  { --ix: 568; }
  56.9%  { --ix: 569; }
  57.0%  { --ix: 570; }
  57.1%  { --ix: 571; }
  57.2%  { --ix: 572; }
  57.3%  { --ix: 573; }
  57.4%  { --ix: 574; }
  57.5%  { --ix: 575; }
  57.6%  { --ix: 576; }
  57.7%  { --ix: 577; }
  57.8%  { --ix: 578; }
  57.9%  { --ix: 579; }
  58.0%  { --ix: 580; }
  58.1%  { --ix: 581; }
  58.2%  { --ix: 582; }
  58.3%  { --ix: 583; }
  58.4%  { --ix: 584; }
  58.5%  { --ix: 585; }
  58.6%  { --ix: 586; }
  58.7%  { --ix: 587; }
  58.8%  { --ix: 588; }
  58.9%  { --ix: 589; }
  59.0%  { --ix: 590; }
  59.1%  { --ix: 591; }
  59.2%  { --ix: 592; }
  59.3%  { --ix: 593; }
  59.4%  { --ix: 594; }
  59.5%  { --ix: 595; }
  59.6%  { --ix: 596; }
  59.7%  { --ix: 597; }
  59.8%  { --ix: 598; }
  59.9%  { --ix: 599; }
  60.0%  { --ix: 600; }
  60.1%  { --ix: 601; }
  60.2%  { --ix: 602; }
  60.3%  { --ix: 603; }
  60.4%  { --ix: 604; }
  60.5%  { --ix: 605; }
  60.6%  { --ix: 606; }
  60.7%  { --ix: 607; }
  60.8%  { --ix: 608; }
  60.9%  { --ix: 609; }
  61.0%  { --ix: 610; }
  61.1%  { --ix: 611; }
  61.2%  { --ix: 612; }
  61.3%  { --ix: 613; }
  61.4%  { --ix: 614; }
  61.5%  { --ix: 615; }
  61.6%  { --ix: 616; }
  61.7%  { --ix: 617; }
  61.8%  { --ix: 618; }
  61.9%  { --ix: 619; }
  62.0%  { --ix: 620; }
  62.1%  { --ix: 621; }
  62.2%  { --ix: 622; }
  62.3%  { --ix: 623; }
  62.4%  { --ix: 624; }
  62.5%  { --ix: 625; }
  62.6%  { --ix: 626; }
  62.7%  { --ix: 627; }
  62.8%  { --ix: 628; }
  62.9%  { --ix: 629; }
  63.0%  { --ix: 630; }
  63.1%  { --ix: 631; }
  63.2%  { --ix: 632; }
  63.3%  { --ix: 633; }
  63.4%  { --ix: 634; }
  63.5%  { --ix: 635; }
  63.6%  { --ix: 636; }
  63.7%  { --ix: 637; }
  63.8%  { --ix: 638; }
  63.9%  { --ix: 639; }
  64.0%  { --ix: 640; }
  64.1%  { --ix: 641; }
  64.2%  { --ix: 642; }
  64.3%  { --ix: 643; }
  64.4%  { --ix: 644; }
  64.5%  { --ix: 645; }
  64.6%  { --ix: 646; }
  64.7%  { --ix: 647; }
  64.8%  { --ix: 648; }
  64.9%  { --ix: 649; }
  65.0%  { --ix: 650; }
  65.1%  { --ix: 651; }
  65.2%  { --ix: 652; }
  65.3%  { --ix: 653; }
  65.4%  { --ix: 654; }
  65.5%  { --ix: 655; }
  65.6%  { --ix: 656; }
  65.7%  { --ix: 657; }
  65.8%  { --ix: 658; }
  65.9%  { --ix: 659; }
  66.0%  { --ix: 660; }
  66.1%  { --ix: 661; }
  66.2%  { --ix: 662; }
  66.3%  { --ix: 663; }
  66.4%  { --ix: 664; }
  66.5%  { --ix: 665; }
  66.6%  { --ix: 666; }
  66.7%  { --ix: 667; }
  66.8%  { --ix: 668; }
  66.9%  { --ix: 669; }
  67.0%  { --ix: 670; }
  67.1%  { --ix: 671; }
  67.2%  { --ix: 672; }
  67.3%  { --ix: 673; }
  67.4%  { --ix: 674; }
  67.5%  { --ix: 675; }
  67.6%  { --ix: 676; }
  67.7%  { --ix: 677; }
  67.8%  { --ix: 678; }
  67.9%  { --ix: 679; }
  68.0%  { --ix: 680; }
  68.1%  { --ix: 681; }
  68.2%  { --ix: 682; }
  68.3%  { --ix: 683; }
  68.4%  { --ix: 684; }
  68.5%  { --ix: 685; }
  68.6%  { --ix: 686; }
  68.7%  { --ix: 687; }
  68.8%  { --ix: 688; }
  68.9%  { --ix: 689; }
  69.0%  { --ix: 690; }
  69.1%  { --ix: 691; }
  69.2%  { --ix: 692; }
  69.3%  { --ix: 693; }
  69.4%  { --ix: 694; }
  69.5%  { --ix: 695; }
  69.6%  { --ix: 696; }
  69.7%  { --ix: 697; }
  69.8%  { --ix: 698; }
  69.9%  { --ix: 699; }
  70.0%  { --ix: 700; }
  70.1%  { --ix: 701; }
  70.2%  { --ix: 702; }
  70.3%  { --ix: 703; }
  70.4%  { --ix: 704; }
  70.5%  { --ix: 705; }
  70.6%  { --ix: 706; }
  70.7%  { --ix: 707; }
  70.8%  { --ix: 708; }
  70.9%  { --ix: 709; }
  71.0%  { --ix: 710; }
  71.1%  { --ix: 711; }
  71.2%  { --ix: 712; }
  71.3%  { --ix: 713; }
  71.4%  { --ix: 714; }
  71.5%  { --ix: 715; }
  71.6%  { --ix: 716; }
  71.7%  { --ix: 717; }
  71.8%  { --ix: 718; }
  71.9%  { --ix: 719; }
  72.0%  { --ix: 720; }
  72.1%  { --ix: 721; }
  72.2%  { --ix: 722; }
  72.3%  { --ix: 723; }
  72.4%  { --ix: 724; }
  72.5%  { --ix: 725; }
  72.6%  { --ix: 726; }
  72.7%  { --ix: 727; }
  72.8%  { --ix: 728; }
  72.9%  { --ix: 729; }
  73.0%  { --ix: 730; }
  73.1%  { --ix: 731; }
  73.2%  { --ix: 732; }
  73.3%  { --ix: 733; }
  73.4%  { --ix: 734; }
  73.5%  { --ix: 735; }
  73.6%  { --ix: 736; }
  73.7%  { --ix: 737; }
  73.8%  { --ix: 738; }
  73.9%  { --ix: 739; }
  74.0%  { --ix: 740; }
  74.1%  { --ix: 741; }
  74.2%  { --ix: 742; }
  74.3%  { --ix: 743; }
  74.4%  { --ix: 744; }
  74.5%  { --ix: 745; }
  74.6%  { --ix: 746; }
  74.7%  { --ix: 747; }
  74.8%  { --ix: 748; }
  74.9%  { --ix: 749; }
  75.0%  { --ix: 750; }
  75.1%  { --ix: 751; }
  75.2%  { --ix: 752; }
  75.3%  { --ix: 753; }
  75.4%  { --ix: 754; }
  75.5%  { --ix: 755; }
  75.6%  { --ix: 756; }
  75.7%  { --ix: 757; }
  75.8%  { --ix: 758; }
  75.9%  { --ix: 759; }
  76.0%  { --ix: 760; }
  76.1%  { --ix: 761; }
  76.2%  { --ix: 762; }
  76.3%  { --ix: 763; }
  76.4%  { --ix: 764; }
  76.5%  { --ix: 765; }
  76.6%  { --ix: 766; }
  76.7%  { --ix: 767; }
  76.8%  { --ix: 768; }
  76.9%  { --ix: 769; }
  77.0%  { --ix: 770; }
  77.1%  { --ix: 771; }
  77.2%  { --ix: 772; }
  77.3%  { --ix: 773; }
  77.4%  { --ix: 774; }
  77.5%  { --ix: 775; }
  77.6%  { --ix: 776; }
  77.7%  { --ix: 777; }
  77.8%  { --ix: 778; }
  77.9%  { --ix: 779; }
  78.0%  { --ix: 780; }
  78.1%  { --ix: 781; }
  78.2%  { --ix: 782; }
  78.3%  { --ix: 783; }
  78.4%  { --ix: 784; }
  78.5%  { --ix: 785; }
  78.6%  { --ix: 786; }
  78.7%  { --ix: 787; }
  78.8%  { --ix: 788; }
  78.9%  { --ix: 789; }
  79.0%  { --ix: 790; }
  79.1%  { --ix: 791; }
  79.2%  { --ix: 792; }
  79.3%  { --ix: 793; }
  79.4%  { --ix: 794; }
  79.5%  { --ix: 795; }
  79.6%  { --ix: 796; }
  79.7%  { --ix: 797; }
  79.8%  { --ix: 798; }
  79.9%  { --ix: 799; }
  80.0%  { --ix: 800; }
  80.1%  { --ix: 801; }
  80.2%  { --ix: 802; }
  80.3%  { --ix: 803; }
  80.4%  { --ix: 804; }
  80.5%  { --ix: 805; }
  80.6%  { --ix: 806; }
  80.7%  { --ix: 807; }
  80.8%  { --ix: 808; }
  80.9%  { --ix: 809; }
  81.0%  { --ix: 810; }
  81.1%  { --ix: 811; }
  81.2%  { --ix: 812; }
  81.3%  { --ix: 813; }
  81.4%  { --ix: 814; }
  81.5%  { --ix: 815; }
  81.6%  { --ix: 816; }
  81.7%  { --ix: 817; }
  81.8%  { --ix: 818; }
  81.9%  { --ix: 819; }
  82.0%  { --ix: 820; }
  82.1%  { --ix: 821; }
  82.2%  { --ix: 822; }
  82.3%  { --ix: 823; }
  82.4%  { --ix: 824; }
  82.5%  { --ix: 825; }
  82.6%  { --ix: 826; }
  82.7%  { --ix: 827; }
  82.8%  { --ix: 828; }
  82.9%  { --ix: 829; }
  83.0%  { --ix: 830; }
  83.1%  { --ix: 831; }
  83.2%  { --ix: 832; }
  83.3%  { --ix: 833; }
  83.4%  { --ix: 834; }
  83.5%  { --ix: 835; }
  83.6%  { --ix: 836; }
  83.7%  { --ix: 837; }
  83.8%  { --ix: 838; }
  83.9%  { --ix: 839; }
  84.0%  { --ix: 840; }
  84.1%  { --ix: 841; }
  84.2%  { --ix: 842; }
  84.3%  { --ix: 843; }
  84.4%  { --ix: 844; }
  84.5%  { --ix: 845; }
  84.6%  { --ix: 846; }
  84.7%  { --ix: 847; }
  84.8%  { --ix: 848; }
  84.9%  { --ix: 849; }
  85.0%  { --ix: 850; }
  85.1%  { --ix: 851; }
  85.2%  { --ix: 852; }
  85.3%  { --ix: 853; }
  85.4%  { --ix: 854; }
  85.5%  { --ix: 855; }
  85.6%  { --ix: 856; }
  85.7%  { --ix: 857; }
  85.8%  { --ix: 858; }
  85.9%  { --ix: 859; }
  86.0%  { --ix: 860; }
  86.1%  { --ix: 861; }
  86.2%  { --ix: 862; }
  86.3%  { --ix: 863; }
  86.4%  { --ix: 864; }
  86.5%  { --ix: 865; }
  86.6%  { --ix: 866; }
  86.7%  { --ix: 867; }
  86.8%  { --ix: 868; }
  86.9%  { --ix: 869; }
  87.0%  { --ix: 870; }
  87.1%  { --ix: 871; }
  87.2%  { --ix: 872; }
  87.3%  { --ix: 873; }
  87.4%  { --ix: 874; }
  87.5%  { --ix: 875; }
  89.2%  { --ix: 892; }
  87.6%  { --ix: 876; }
  87.7%  { --ix: 877; }
  87.8%  { --ix: 878; }
  87.9%  { --ix: 879; }
  88.0%  { --ix: 880; }
  88.1%  { --ix: 881; }
  88.2%  { --ix: 882; }
  88.3%  { --ix: 883; }
  88.4%  { --ix: 884; }
  88.5%  { --ix: 885; }
  88.6%  { --ix: 886; }
  88.7%  { --ix: 887; }
  88.8%  { --ix: 888; }
  88.9%  { --ix: 889; }
  89.0%  { --ix: 890; }
  89.1%  { --ix: 891; }
  89.3%  { --ix: 893; }
  89.4%  { --ix: 894; }
  89.5%  { --ix: 895; }
  89.6%  { --ix: 896; }
  89.7%  { --ix: 897; }
  89.8%  { --ix: 898; }
  89.9%  { --ix: 899; }
  90.0%  { --ix: 900; }
  90.1%  { --ix: 901; }
  90.2%  { --ix: 902; }
  90.3%  { --ix: 903; }
  90.4%  { --ix: 904; }
  90.5%  { --ix: 905; }
  90.6%  { --ix: 906; }
  90.7%  { --ix: 907; }
  90.8%  { --ix: 908; }
  90.9%  { --ix: 909; }
  91.0%  { --ix: 910; }
  91.1%  { --ix: 911; }
  91.2%  { --ix: 912; }
  91.3%  { --ix: 913; }
  91.4%  { --ix: 914; }
  91.5%  { --ix: 915; }
  91.6%  { --ix: 916; }
  91.7%  { --ix: 917; }
  91.8%  { --ix: 918; }
  91.9%  { --ix: 919; }
  92.0%  { --ix: 920; }
  92.1%  { --ix: 921; }
  92.2%  { --ix: 922; }
  92.3%  { --ix: 923; }
  92.4%  { --ix: 924; }
  92.5%  { --ix: 925; }
  92.6%  { --ix: 926; }
  92.7%  { --ix: 927; }
  92.8%  { --ix: 928; }
  92.9%  { --ix: 929; }
  93.0%  { --ix: 930; }
  93.1%  { --ix: 931; }
  93.2%  { --ix: 932; }
  93.3%  { --ix: 933; }
  93.4%  { --ix: 934; }
  93.5%  { --ix: 935; }
  93.6%  { --ix: 936; }
  93.7%  { --ix: 937; }
  93.8%  { --ix: 938; }
  93.9%  { --ix: 939; }
  94.0%  { --ix: 940; }
  94.1%  { --ix: 941; }
  94.2%  { --ix: 942; }
  94.3%  { --ix: 943; }
  94.4%  { --ix: 944; }
  94.5%  { --ix: 945; }
  94.6%  { --ix: 946; }
  94.7%  { --ix: 947; }
  94.8%  { --ix: 948; }
  94.9%  { --ix: 949; }
  95.0%  { --ix: 950; }
  95.1%  { --ix: 951; }
  95.2%  { --ix: 952; }
  95.3%  { --ix: 953; }
  95.4%  { --ix: 954; }
  95.5%  { --ix: 955; }
  95.6%  { --ix: 956; }
  95.7%  { --ix: 957; }
  95.8%  { --ix: 958; }
  95.9%  { --ix: 959; }
  96.0%  { --ix: 960; }
  96.1%  { --ix: 961; }
  96.2%  { --ix: 962; }
  96.3%  { --ix: 963; }
  96.4%  { --ix: 964; }
  96.5%  { --ix: 965; }
  96.6%  { --ix: 966; }
  96.7%  { --ix: 967; }
  96.8%  { --ix: 968; }
  96.9%  { --ix: 969; }
  97.0%  { --ix: 970; }
  97.1%  { --ix: 971; }
  97.2%  { --ix: 972; }
  97.3%  { --ix: 973; }
  97.4%  { --ix: 974; }
  97.5%  { --ix: 975; }
  97.6%  { --ix: 976; }
  97.7%  { --ix: 977; }
  97.8%  { --ix: 978; }
  97.9%  { --ix: 979; }
  98.0%  { --ix: 980; }
  98.1%  { --ix: 981; }
  98.2%  { --ix: 982; }
  98.3%  { --ix: 983; }
  98.4%  { --ix: 984; }
  98.5%  { --ix: 985; }
  98.6%  { --ix: 986; }
  98.7%  { --ix: 987; }
  98.8%  { --ix: 988; }
  98.9%  { --ix: 989; }
  99.0%  { --ix: 990; }
  99.1%  { --ix: 991; }
  99.2%  { --ix: 992; }
  99.3%  { --ix: 993; }
  99.4%  { --ix: 994; }
  99.5%  { --ix: 995; }
  99.6%  { --ix: 996; }
  99.7%  { --ix: 997; }
  99.8%  { --ix: 998; }
  99.9%  { --ix: 999; }
  100.0% { --ix: 1000; }
}
